@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600|VT323);

body
{
	margin: 0;
	padding: 0;	
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333333;
}

.hidden {
    display: none;
}

h2.title{
	font-size:30px;
    font-weight: 400;
	color:#f05750;
	text-align:center;
	padding:0;
	margin-top:10;
	margin-bottom:10;
}

h3{
	font-size: 30px;
    font-weight: 400;
	color:#f05750;
	text-align:left;
	padding:0;
	margin-top:15px;
	margin-bottom:5px;
}

p {
	text-align:center;
	padding:0;
	margin-top:10;
	margin-bottom:10;	
}

p.left{
	text-align:left;
	padding:0;
	margin-top:10px;
	margin-bottom:10px;	
}

p.left.box {
    margin-bottom: 50px;
    margin-top: 20px;
}

.header {
    height: 55px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}
.dropdown a.red.selected {border-left: 5px solid #f05750}
.dropdown a.red:hover {border-left: 5px solid #f05750}
.dropdown a.orange.selected {border-left:5px solid #f09141}
.dropdown a.orange:hover {border-left: 5px solid #f09141}
.dropdown a.green.selected {border-left: 5px solid #50c850}
.dropdown a.green:hover {border-left: 5px solid #50c850}
.dropdown a.aqua.selected {border-left: 5px solid #64f0c1}
.dropdown a.aqua:hover {border-left: 5px solid #64f0c1}
.dropdown a.cyan.selected{border-left: 5px solid #64baf0}
.dropdown a.cyan:hover {border-left: 5px solid #64baf0}
.dropdown a.blue.selected {border-left: 5px solid #6478e6}
.dropdown a.blue:hover {border-left: 5px solid #6478e6}
.dropdown a.purple.selected {border-left: 5px solid #b464dc}
.dropdown a.purple:hover {border-left: 5px solid #b464dc}
.dropdown a.pink.selected {border-left: 5px solid #f06495}
.dropdown a.pink:hover {border-left: 5px solid #f06495}
.dropdown a.yellow.selected {border-left: 5px solid #FFFF19}
.dropdown a.yellow:hover {border-left: 5px solid #FFFF19}


.bar a.red.selected {border-top: 5px solid #f05750}
.bar a.red:hover {border-top: 5px solid #f05750}
.bar a.orange.selected {border-top:5px solid #f09141}
.bar a.orange:hover {border-top: 5px solid #f09141}
.bar a.green.selected {border-top: 5px solid #50c850}
.bar a.green:hover {border-top: 5px solid #50c850}
.bar a.aqua.selected {border-top: 5px solid #64f0c1}
.bar a.aqua:hover {border-top: 5px solid #64f0c1}
.bar a.cyan.selected{border-top: 5px solid #64baf0}
.bar a.cyan:hover {border-top: 5px solid #64baf0}
.bar a.blue.selected {border-top: 5px solid #6478e6}
.bar a.blue:hover {border-top: 5px solid #6478e6}
.bar a.purple.selected {border-top: 5px solid #b464dc}
.bar a.purple:hover {border-top: 5px solid #b464dc}
.bar a.yellow.selected {border-top: 5px solid #FFFF19}
.bar a.yellow:hover {border-top: 5px solid #FFFF19}
.bar a.pink.selected {border-top: 5px solid #f06495}
.bar a.pink:hover {border-top: 5px solid #f06495}

#logo {
    height: 40px;
    margin: 7px 2px 8px 15px;
    float: left;
}

#coursenum {
    line-height: 75px;
    font-family: 'VT323';
    font-size: 20px;
}

div.menu.bar {
    height: 50px;
    float: right;
    margin-right: 15px;
}

a.menu {
    line-height: 50px;
    color: #333333;
    font-size: 14px;
	text-decoration: none;
    text-transform: uppercase;
    -moz-transition: background-color 200ms linear;
    -webkit-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

div.menu.bar a.menu {
    display: inline-block;
    text-align: center;
    margin: 0 -2px;
    padding: 0 10px;
}

.icon {
    line-height: 50px;
    font-size: 25px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.icon:hover {
    color:#f05750;
}

div.dropdown {
    position: absolute;
    position:fixed;
    z-index: 1000;
    width: 130px;
    right: 0;
    background-color: #ffffff;
    height: 100%;
    border-left: 1px solid #cccccc;
}

div.dropdown a.menu {
    display: block;
    padding: 0 15px;
    height: 40px;
    border-bottom: 1px solid #eeeeee;
    line-height: 40px;
}

div.dropdown a.close {
    font-size: 20px;
    cursor: pointer;
}

div.dropdown a.close:hover {
    color: #f05750;
}

@media only screen and (max-width: 800px) {
    a.menu {
        font-size: 12px;
    }
}

@media only screen and (max-width: 640px) {
    .bar {
        display: none;
    }

    .icon {
        display: block;
    }

}

@media screen and (min-width: 600px) {
    div.dropdown {
        display: none;
    }
}

a.menu:hover {
    color: #333333;
    font-weight: 400;
}


img {
	padding:0;
	margin-right: -20px;
	margin-bottom: -10px;
}

img.header{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0
}

.crop {
    width: 100%;
    position:relative;
}

.crop .welcome {
    position:absolute;
    text-transform: uppercase;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 40px;
    font-weight: 400;
    margin-right: 10%;
    margin-top: 50px;
}


.crop img {
    width: 100%;
    z-index: 1;
}

h1 img {
	width: 120px;
}

img.staff{
	padding:0;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	/*display:inline;*/
	vertical-align:middle;
	width:300px;
}

table.projects{
	margin-left:10em;
	margin-top:2em;
	margin-bottom:2em;
}

th.assignmetns{
	border-width:0px;
	padding: 10px 15px;
	padding-left: 5px;
	font-size:120%;
	color: white;
}

caption.projects{
	font-size:100%;
	color:#f05750;
	text-align:left;
	font-size:140%;
	text-align: center;
	background-color: white;
	margin-right:-4px;
}

table.hours{
	margin-left:auto;
	margin-right:auto;
	margin-top:2em;
	margin-bottom:2em;
	border: 2px solid white;
	padding-left:20px;
	padding-right:20px;
	padding-top:3px;
	padding-bottom:3px;
	table-layout: fixed;
}

th.hours{
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	margin:0;
	color:#5a26c4;
	text-decoration:underline;
	text-align:center;
}

td.hours{
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	margin:0;
	color:#333333;
	width: auto;
	height: 30px;
	text-align:center;
}


p.menu{
	text-shadow:1px 0px 0 DarkBlue, -1px 0px 0 DarkBlue, 0px 1px 0 DarkBlue, 0px -1px 0 DarkBlue;
	filter: glow(color=DarkBlue,strength=1);
	padding: 0;
    margin: 0;
}



.content {
	margin: 0 auto;
    padding: 0 5%;
}

td {
	padding: 10px 50px 10px 0px;
}
th {
	text-align: left;
}
table.striped tr:nth-child(even) {
	background-color: #fac8c5;
}
table.striped tr:nth-child(odd) {
	background-color: #fef5f4; 
}
table.striped tr:first-child,
table.lectures tr:first-child {
	background-color: #7fb3f4;
}
table.striped,
table.lectures {
	border: 2px solid white;
	margin: 30px auto;
}
table.striped {
	width: 	70%;
}
table.striped td,
table.striped th,
table.lectures td,
table.lectures th {
	padding-left: 5px;
	border: 2px solid white;
}
table.striped td:first-child {
        font-weight: 800;
}

.links {
	margin-left: 20px;
}
.links p {
	text-align: left;
}
a {
	text-decoration: none;
    font-weight: 400;
	color: #7fb3f4;
}
a:hover {
	color: #5097f0;
    font-weight: 600;
}
.box {
	border: 2px solid #f05750;
	padding: 15px !important;
}

.office-hours td {
	background-color: #9370D8;
	padding: 5px 15px;
	color: #333333;
	
}
.lectures {
	margin: 0 auto;
}
.lectures tr:nth-child(6n+4) {
	background-color: #fac8c5;
}
.lectures tr:nth-child(6n+5) {
	background-color: #fac8c5;
}
.lectures tr:nth-child(6n+6) {
	background-color: #fac8c5;
}
.lectures tr:nth-child(6n+1) {
	background-color: #fef5f4;
}
.lectures tr:nth-child(6n+2) {
	background-color: #fef5f4;
}
.lectures tr:nth-child(6n+3) {
	background-color: #fef5f4;
}


table.hours tr:first-child {
	background-color: #7fb3f4;
}
table.hours th {
	color: white;
	font-weight: bold;
	text-decoration:none;
}
table.hours tr td:nth-child(even) {
	background-color: #fac8c5;
}
table.hours tr td:nth-child(odd) {
	background-color: #f69b96;
}
table.hours tr td:first-child {
	background-color: #7fb3f4;
	color: white;
	font-weight: bold;
	text-align:center;
}

p.code {
        margin: 0;
        font-family: monospace;
        font-size: 1.1em;
        font-weight: 700;
}
b.script {
        margin: 0;
        font-weight: 700;
        color: #f05750;
}
table.staff-pics {
        text-align: center;
}
.staff-pics caption {
        background-color: #7fb3f4;
        color: white;
}
.staff-pics img {
        width: 200px;
        margin-left: -20px;
}
.swap {
	width: 200px;
	height: 300px;
}
.staff-pics td {
        padding-left: 50px;
}

iframe {
    margin-top: 0px;
    border: 0px solid #cccccc;
    padding: 10px 0px 10px 10px;
}

.iframe-div {
	padding:0;
    margin:0;
}

font-family: 'Open Sans', serif;
font-family: 'VT323', serif;


